
    html {
      box-sizing: border-box;
      font-size: 25px;
    }


    input {
      border: none;
      margin-top: 5%;
      width: 200px;
      height: 40px;
      border-radius: 15px;
      transition: width 0.4s ease-in-out;
      font-size: 20px;
      outline: thin;
    }
    

    .panels {
      min-height: 100vh;
      overflow: hidden;
      display: flex;
    }

    .panel {
      background: #6B0F9C;
      box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
      color: white;
      text-align: center;
      align-items: center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      background-size: cover;
      background-position: center;
      flex: 1;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }